{% extends 'store/base.html' %} {% block content %}
<div class="container text-center py-5">
  <h3>Redirecting to JazzCash Payment Gateway...</h3>
  <p>Please do not refresh or close this page.</p>

  <form id="jazzcash_form" action="{{ jazzcash_url }}" method="POST">
    {% for key, value in post_data.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}" />
    {% endfor %}
  </form>
</div>

<script>
  // Page load hotay hi JazzCash form automatic submit ho jayega
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("jazzcash_form").submit();
  });
</script>
{% endblock %}
